.r {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px
}
.no-gap {grid-gap:0 !important;}
.bcg-item {
    grid-column: span 6;
    padding: 10px
}

.full-item {
  grid-column: span 3;
  height: 60vh;
  padding: 10px;
  background-color: transparent;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230000ff' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

[class*="c-"] {
    grid-column: span 12;
    padding: 10px
}

cart-button {display: none !important;}

 /* 600px */
@media only screen and (min-width: 40rem) { 

    .c-50 {
        grid-column: span 6;
    }
    .c-25 {
        grid-column: span 3;
    }    
    .c-75 {
        grid-column: span 9;
    }    
    .c-100 {
        grid-column: span 12;
    }  
  
    .c-1 {
        grid-column: span 1
    }

    .c-2 {
        grid-column: span 2
    }

    .c-3 {
        grid-column: span 3
    }

    .c-4, .bcg-item {
        grid-column: span 4
    }


    .c-5 {
        grid-column: span 5
    }

    .c-6 {
        grid-column: span 6
    }

    .c-7 {
        grid-column: span 7
    }

    .c-8 {
        grid-column: span 8
    }

    .c-9 {
        grid-column: span 9
    }

    .c-10 {
        grid-column: span 10
    }

    .c-11 {
        grid-column: span 11
    }

    .c-12 {
        grid-column: span 12
    }
  
}



 /* 600px - 800px */

@media only screen and (max-width: 52rem) and (min-width: 40rem) {
    

    .c-50 {
        grid-column: span 6;
    }
    .c-25 {
        grid-column: span 3;
    }    
    .c-75 {
        grid-column: span 9;
    }    
    .c-100 {
        grid-column: span 12;
    }
    
}

/* CARD MEDIA QUERIES */

/* mobile portrait: less than 640px
mobile landscape: > 640px
tablet portrait: > 768px
tablet landscape: > 1024px
laptop: > 1280px */

@media (min-width: 1px) {
  .full-item {
    grid-column: span 12;
    height: 400px;
    padding: 2rem 2rem 2rem 2rem !important;
  }
}

@media (min-width: 640px) {
  .full-item {
    grid-column: span 6;
    height: 300px;
    padding: 1rem 1rem 1rem 1rem !important;
  }
}

@media (min-width: 768px) {
  .full-item {
    grid-column: span 6;
    height: 350px;
  }
}

@media (min-width: 1024px) {
  .full-item {
    grid-column: span 4;
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .full-item {
      grid-column: span 3;
      height: 400px;
    }
}

@media (min-width: 1440px) {
  .full-item {
    grid-column: span 3;
    height: 50vh
  }
}
/* Desktop/Laptop */

/* 1440 + */
/* @media only screen and (min-width: 1440px) {
    .full-item {
      grid-column: span 3;
      height: 50vh;
    }
} */

/* 1366x768 is now most popular */
/* @media only screen and (min-width: 1366px) and (max-height: 768px) {
    .full-item {
      grid-column: span 3;
      height: 60vh; same as og above
    }
} */

/* Tablets */

/* iPad Pro landscape */
/* @media only screen and (max-width: 1366px) and (height: 1024px) and (orientation: landscape) {
    .full-item {
      grid-column: span 3;
      height: 40vh;
    }
} */

/* iPad Pro portrait */
/* @media only screen and (max-width: 1200px) {
    .full-item {
      grid-column: span 4;
      height: 30vh;
   }
} */

/* iPad landscape */
/* @media only screen and (max-width: 1025px) and (orientation: landscape) {
    .full-item {
      grid-column: span 3;
      height: 40vh;
   }
} */

/* iPad portrait */
/* @media only screen and (max-width: 800px) {
    .full-item {
      grid-column: span 4;
      height: 30vh;
   }
} */

/* Phones */

/* iPhoneX & Pix2XL landscape */
/* @media only screen and (max-width: 824px) and (orientation: landscape) {
  .full-item {
    grid-column: span 4;
    height: 90vh;
  }
} */

/* iPhone ALL portrait */
/* @media only screen and (max-width: 750px) {
    .full-item {
      grid-column: span 12;
      height: 65vh;
   }
} */

/* iPhone ALL < X landscape */
/* @media only screen and (max-width: 750px) and (orientation: landscape) {
  .full-item {
    grid-column: span 4;
    height: 70vh;
  }
} */

pre {
  padding:.5rem;
}
pre, code {
  white-space: pre; /* pre-wrap will new line @ mobile v scroll now? */
  font-family: monospace;
  color: #f0f0f0;
  background: #282C34;
  margin: 2rem 0 !important;
  overflow: auto;
  border-radius: .5rem;
  max-width: 75ch;
}

p code, li code {
  color: #292967;
  background: #F2F2F2;
  padding:.25rem;
  font-family: monospace;
}

blockquote {border-left: 3px solid #d6d6d6;padding:0 1rem !important;margin:0 1.5rem !important;font-weight: 300 !important;}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}

.featured-image {
  display: none;
  /* max-height: 55vh;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%; */
}
.container .single .post-content {
  line-height: 1.7;
  color: #222;
}
.single .post-content img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.single .post-content img.blog-author {  
  padding: 0rem;
  border: none;
}

.single .post-content p:not(.full-image) {
  margin-bottom: 1rem;
  max-width: 75ch;
}

.single .post-content ul,
.single .post-content ol {
  margin-bottom: 1.5rem;
  max-width: 75ch;
}

.post-content h1 {
  color: #000;
  /* font-weight: 600; */
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #000;
  font-weight: 600;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.single {
  max-width: 1200px;
  margin: 0 auto;
}
.search:focus {
  outline: none;
}
.footer__heading {
  text-transform: uppercase;
}

nav .r {
  grid-gap: 0;
}
.r.full-height {
  grid-gap: 0;
}
@media only screen and (max-width: 40rem) {
  .main-title {
    font-size: 2rem;
  }
  .xs-collapse {
    visibility: hidden;
    visibility: collapse;
    border: 0 !important;
    border-color: none !important;
    padding: 0 !important;
  }
  .xs-visible {
    visibility: visible;
  }
}

/* NEWSLETTER POST GRID */
.news-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 40px; */
  /* grid-template-areas:
    "sponsor sponsor sponsor"; */
}

.news-item{
  padding: 0.5em 1.5em 0.5em 1.5em;
}

.news-nav {
  width:40%;
  display:flex;
  margin: 5% auto;
  font-weight: 600;
}

.news-footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.news-footer-item {
  background-color: #F6F6F6;
  margin: 1em 1em 1em 1em;
  padding: 1em 2em 1em 2em;
}

@media (max-width:1200px) {
  .news-nav {
    width:50%;
  }
}

@media (max-width:600px) {
  .news-nav {
    /* flex-direction:column; */
    width:90%;
  }
}

.news-nav a {
  color:#222;
  text-decoration:none;
  flex-grow:1;
  text-align:center;
}

.news-nav a:hover {
  color: blue;
}

/* ORIGINAL SPONSOR SECTION (in newsletter template)
<div class="news-item sponsor">

<div class="sponsor-heading">Our Sponsor:</div>

![JS Charting Logo](/images/uploads/twenty_by_nine_extra_large_a7386dd4-1a70-463b-9954-38508d57d97a.png)

[JSCharting 3.0 adds chart types and major new features](https://jscharting.com/)

Venn and Euler diagrams join the 150+ advanced chart types already supported with JSCharting in the 3.0 release. Other noteworthy features include right-to-left text support, advanced dashboard samples, dynamic highlighting / muting support and much more.

[Try it free ➡️](https://jscharting.com/)

<a href="https://www.easeout.co/advertise/"><button class="sponsor-btn">Sponsor an issue</button></a>
</div>

*/


/* .sponsor { 
  grid-area: sponsor; 
  background-color: #EAEAEA;
  justify-self: center;
  padding: 1em 5em 1em 5em;
}

.sponsor-heading {
  text-align: center;
  font-style: italic;
} */

.sponsor {
 background-color: #f6f6f6;
}

p a button.sponsor-btn{
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .news-grid {
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas:
    "sponsor sponsor"; */
  }
  .single .post-content img {  /* Applies to ALL images < tablet */
    padding: 0;
  }
  /* .sponsor {
    padding: 1em 2em 1em 2em;
  } */
}
@media only screen and (max-width: 600px) {
  .news-grid {
    grid-template-columns: 1fr;
    /* grid-template-areas:
    "sponsor"; */
  }
  /* .sponsor {
    padding: 1em;
  } */
  .news-footer {
    grid-template-columns: 1fr;
  }
}

.freelance-heading{
  margin-top:-1em!important;
  font-size: 2.5em!important;
}

@media only screen and (max-width: 769px) {
  .freelance-heading{
    margin-top:-2em!important;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.svglink:hover{
  cursor:pointer!important;
}


/* GRID LAYOUT FOR BLOG POSTS */

.blog-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /* grid-template-rows: 1fr; */
  grid-template-areas:
    "div-article div-article div-ads";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div-article { }
  
  .div-ads.a.img {
    max-width: 350px;
   }

  @media only screen and (max-width: 600px)  {
    .blog-grid{
      grid-template-columns: 1fr;
      grid-template-areas:
      "div-article"
      "div-ads";
    } 
  }
  

  /* END GRID LAYOUT FOR BLOG POSTS */
  